# This is a basic workflow to help you get started with Actions

name: Build

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-26
    env:
      APPLE_ISSUER_ID: ${{ secrets.APPLE_ISSUER_ID }}
      APPLE_KEY_ID: ${{ secrets.APPLE_KEY_ID }}
      APPLE_DEVELOPER_PORTAL_TEAM_ID: ${{ secrets.APPLE_DEVELOPER_PORTAL_TEAM_ID }}
      APPLE_STORE_CONNECT_TEAM_ID: ${{ secrets.APPLE_STORE_CONNECT_TEAM_ID }}
      APPLE_P8_AUTH_KEY: ${{ secrets.APPLE_P8_AUTH_KEY }}
      MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
      MATCH_GIT_BASIC_AUTHORIZATION: ${{ secrets.MATCH_GIT_BASIC_AUTHORIZATION }}

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Set Xcode version 
        run: sudo xcode-select -s /Applications/Xcode_26.0.app

      - uses: actions/checkout@v5
        with: 
          repository: ${{ secrets.REPOSITORY }}
          token: ${{ secrets.PAT }}
          path: './'

      - uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.5

      - uses: actions/cache@v4
        id: vendor-cache # use this to check for `cache-hit` (`steps.vendor-cache.outputs.cache-hit != 'true'`)
        with:
          path: ./vendor
          key: ${{ runner.os }}-ios-vendor-${{ hashFiles('./Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-ios-vendor-${{ hashFiles('./Gemfile.lock') }}

      - uses: actions/cache@v4
        with:
          path: ./ios/Pods
          key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}

      - name: Install Node Modules
        run: npm ci

      - name: Install iOS Dependencies
        run: npm run pod-install

      - name: Build and deploy
        run: |
          cd ios
          echo "${{ secrets.APPLE_P8_AUTH_KEY }}" > fastlane/secretKey.p8
          echo "${{ secrets.MATCH_REPO_PRIVATE_KEY }}" > fastlane/fastlane_certs_match_cli
          chmod 400 fastlane/fastlane_certs_match_cli
          bundle exec fastlane ios internal
        
